/**
## General styles
This stuff can be ported from experiment to experiment.*/

body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 16px;
    line-height: 20px;
}


/** We manage display using "slides". A slide is a <code>div</code> that takes up the entire page. Only one slide should be visible at a time. Navigation between slides is most sensibly accomplished using buttons, rather than keyboard events. */

.slide {
    width: 95%;
    height: 95%;
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}

input,
select,
button {
    font-family: Georgia, serif;
    font-size: 14px;
}

button {
    background: url(images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
}


/**
## Experiment-specific styles
This stuff will vary by experiment.
*/

#logo-text {
    font-weight: bold;
}

#instructions {
    text-align: center;
}

.block-text {
    width: 500px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 1em;
}

#legal {
    margin: 0 auto;
    margin-top: 1.5em;
    font-size: 0.8em;
}

#labelInst {
    text-align: center;
}


/*adjust so pictures fit comfortably in the middle of the screen (as opposed to too high or too low)*/

#objects {
    margin-top: 150px;
}

#leftPic {
    POSITION: absolute;
    BOTTOM: 10px;
    LEFT: 0px;
    -webkit-animation-name: appearFromLeft;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

#leftPic2 {
    POSITION: absolute;
    BOTTOM: 10px;
    LEFT: 100px;
    border: 0px solid #008000;
}

#centerPic {
    POSITION: absolute;
    BOTTOM: 10px;
    LEFT: 400px;
}

#centerPic2 {
    POSITION: absolute;
    BOTTOM: 10px;
    LEFT: 400px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#rightPic {
    POSITION: absolute;
    BOTTOM: 10px;
    LEFT: 800px;
    -webkit-animation-name: appearFromRight;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    border: 0px solid #008000;
}

@-webkit-keyframes appearFromLeft {
    from {
        display: none;
        LEFT: 0px;
    }
    to {
        display: inline;
        LEFT: 100px;
    }
}

@-webkit-keyframes appearFromRight {
    from {
        display: none;
        LEFT: 900px;
    }
    to {
        display: inline;
        LEFT: 800px;
    }
}

#problem {margin-right:auto;margin-left:auto; /*what ever other styles*/}
#enclose {position:fixed;bottom:0px;width:100%;}
