/**
## General styles
This stuff can be ported from experiment to experiment.*/

body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 20px;
    line-height: 20px;
}


/** We manage display using "slides". A slide is a <code>div</code> that takes up the entire page. Only one slide should be visible at a time. Navigation between slides is most sensibly accomplished using buttons, rather than keyboard events. */

.slide {
    width: 95%;
    height: 95%;
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}

input,
select,
button {
    font-family: Georgia, serif;
    font-size: 14px;
}

button {
    background: url(images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
}


/**
## Experiment-specific styles
This stuff will vary by experiment.
*/

#logo-text {
    font-weight: bold;
}

#instructions {
    text-align: center;
}

#beginTest{
  display: flex;
  align-items: center;
  justify-content: center;
}

#proceed {
    background: url(images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    position: relative;
    min-width: 70px;
    left:88%;
    z-index: 2;
}

.block-text {
    width: 500px;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 1em;
}

#legal {
    margin: 0 auto;
    margin-top: 1.5em;
    font-size: 0.8em;
}

#labelInst {
    text-align: center;
}


/*adjust so pictures fit comfortably in the middle of the screen (as opposed to too high or too low)*/

#objects {
    margin-top: 150px;
}

/*
#leftPic {
    POSITION: fixed;
    BOTTOM: 10px;
    LEFT: 0px;
    -webkit-animation-name: appearFromLeft;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
}
*/

#leftPic {
    position: absolute;
    margin: -100px 0 0 -100px;
    bottom: 0%;
    left: 30%;
    -webkit-animation-name: appearFromLeft;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

#leftPic2 {
    position: absolute;
    margin: -100px 0 0 -100px;
    bottom: 0%;
    left: 20%;
    border: 0px solid #000000;
}

#centerPic {
    position: absolute;
    margin: -100px 0 0 -100px;
    bottom: 0%;
    left: 45%;
}

#centerPic2 {
    position: absolute;
    margin: -100px 0 0 -100px;
    bottom: 0%;
    left: 45%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


#rightPic {
    position: absolute;
    margin: -100px 0 0 -100px;
    bottom: 0%;
/*    left: 90%;*/
    -webkit-animation-name: appearFromRight;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    border: 0px solid #000000;
}

#rightPic2 {
    position: absolute;
    margin: -100px 0 0 -100px;
    bottom: 0%;
    left: 80%;
    border: 0px solid #000000;
}

@-webkit-keyframes appearFromLeft {
    from {
        display: none;
    left: 0%;
    }
    to {
        display: inline;
    left: 20%;
    }
}

@-webkit-keyframes appearFromRight {
    from {
        display: none;
    left: 100%;
    }
    to {
        display: inline;
    left: 80%;
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px) }
    60% {-webkit-transform: translateY(-20px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 


.bounce {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}


#problem {margin-right:auto;margin-left:auto; /*what ever other styles*/}
#enclose {position:fixed;bottom:0px;width:100%;}
